.slideshow {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .slider {
    width: 250px;
    height: 250px;
  }
  
  #section__one {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  #section__two {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  #section__three {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #891aa3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: white;
    color: #891aa3;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }